* {
    margin: 0;
    padding: 0;
}

.primary-color {
    color: rgba(229, 84, 115, 1);
}


/*nav section style */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);
    padding: 20px;
}

.menu-container {
    display: flex;
    gap: 15px;
    list-style: none;
    color: gray;
}

.menu:hover {
    color: rgba(229, 84, 115, 1);
}

/* banner section style */

header,
.full-width {
    background-color: rgba(229, 84, 115, 0.1);
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 80%;
    margin: auto;
}

.banner-text {
    width: 300px;
}

.banner-img {
    width: 300px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.desc {
    font-size: 14px;
    margin-top: 15px;
    color: gray;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    border: none;
    border-radius: 5px;
}

/* flower box styles */

.f-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.f-desc {
    text-align: center;
    margin-bottom: 20px;
    font-size: small;
}

.flower-box {
    width: 150px;
    height: 150px;
    border-radius: 75px 75px 0px 0px;
    background-color: burlywood;
}

.box-flower-image {
    width: 70%;
}

.flower-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.featured-section {
    width: 80%;
    margin: auto;
}

.box1 {
    background-color: rgba(253, 238, 241, 1);
}

.box2 {
    background-color: rgba(4, 156, 166, 0.15);
}

.box3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-text-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 55px;
}

.flower-text-container p {
    font-size: 10px;
    text-decoration: underline;
}

/* optional section style */

.optional-section {
    width: 80%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top: 50px;
    border-radius: 5px;
}

.icon-box {
    padding: 50px;
    text-align: center;
}

.icon-box-img {
    width: 50px;
}

.icon-box-text {
    color: gray;
    font-size: small;
}


/* deals style */

.deal-section {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.deal-text {
    text-align: center;
}

.deal-img {
    width: 200px;
}


/* Instagram related styles */

.insta-sec {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.insta-photo-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.insta-text {
    text-align: center;
}

.card-img {
    width: 150px;
    height: 200px;
}

.insta-heading {
    padding: 10px;
}

.insta-desc {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* form section related related style */

.form-container {
    width: 80%;
    margin: auto;
    background-image: url('./asstet/image/Rectangle\ 9.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;

    margin-top: 50px;
    margin-bottom: 50px;

}

.form-text {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.form-input {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding-bottom: 60px;
}

.email-form {
    border: 0;
    padding: 10px 50px 10px 5px;
    background-color: white;
    color: gray;
    border-radius: 5px;
}

/* footer section style */

footer {
    text-align: center;
    background-color: black;
    color: white;
}

.footer-title {
    padding-top: 40px;
}

.footer-year-sec {
    padding-bottom: 40px;
}